body {
    display: block;
    margin: auto;
    width: 800px;
    background-color: #151515;
    color: white;
    font-family: Arial;
}

.logo {
    content: url(https://perpslo10993.github.io/ttrarchives/ttrarchiveslogo.png);
    margin: auto;
}

.hr1 {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  border: 1px solid;
  padding: 2px;
}
    
a {
    color: white;
    text-decoration: none;
}
