body {
    display: block;
    margin: auto;
    width: 800px;
    background-color: #010101;
}

.logo {
    content: url(https://perpslo10993.github.io/ttrarchives/ttrarchiveslogo.png);
    margin: auto;
}
